.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card_img {
  margin-bottom: 40px;
}

.card_img img {
}

.card_title {
  color: var(--heading_color);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.5;
}

.card_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  transform: translateY(-140%);
  border: 2px solid var(--accent_color);
  width: 33px;
}

.card_description {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  line-height: 1.5;
  margin-bottom: 35px;
}
