* {
  font-size: 16px;
  font-family: "GothamRounded";
  line-height: 1.5;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

b {
  font-size: inherit;
  font-weight: 500;
}

span {
  font-size: inherit;
}

i {
  font-size: inherit;
  font-style: italic;
}

button,
a {
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.9;
}

img {
  max-width: 100%;
}

.section {
  position: relative;
  padding: 120px 0;
}

.section.small {
  position: relative;
  padding: 60px 0;
}

.section_bg,
.section_bg img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section_bg img {
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  background-color: rgba(33, 32, 36, 0.8);
}

.section_bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 32, 36, 0.8);
}

.crop_image {
  position: relative;
  overflow: hidden;
  min-height: 20rem;
}

.crop_image img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
}

.footer {
  background-color: var(--dark_color);
  padding-top: 40px;
  padding-bottom: 40px;
}
