/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.input {
  background: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-align: left;
  width: 100%;
  padding: 0.4rem 1rem;
}

.input:focus {
  outline: 2px solid var(--accent_color);
}

.input.light {
  border: 1px solid var(--white_color);
  color: var(--white_color);
}

.input.light::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.light::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.light:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.light::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.light::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.dark {
  border: 1px solid var(--dark_color);
  color: var(--dark_color);
}

.input.dark::-webkit-input-placeholder {
  color: rgba(36, 40, 48, 0.7);
}

.input.dark::-moz-placeholder {
  color: rgba(36, 40, 48, 0.7);
}

.input.dark:-ms-input-placeholder {
  color: rgba(36, 40, 48, 0.7);
}

.input.dark::-ms-input-placeholder {
  color: rgba(36, 40, 48, 0.7);
}

.input.dark::placeholder {
  color: rgba(36, 40, 48, 0.7);
}

.input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.input_group > *:first-child {
  margin-right: 5px;
}

/* Inputs Sizes */
.input.small {
  padding: 0.4rem 1rem;
}

.input.medium {
  padding: 20px 1rem;
}

.input.big {
  padding: 25px 1.5rem;
}

/* Label */
label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0.5rem 0.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .input_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input_group > *:first-child {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
