.header {
  position: relative;
}

.header_wrapper .item {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.header_wrapper .item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header_wrapper .item .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header_title,
.header_title > * {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #a1a9b0;
  line-height: 1.5;
  margin-bottom: 20px;
  word-break: break-word;
  text-align: center;
}

.header_title span {
  font-size: inherit;
  font-family: inherit;
  color: var(--heading_color);
}

.header_description .paragraph {
  color: var(--text_color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2.25px;
  margin-bottom: 60px;
  text-align: center;
}

.header_description span {
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2.25px;
}
