.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 55px;
  max-width: 100%;
  overflow: hidden;
}

.heading_title,
.heading_title > * {
  color: var(--heading_color);
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  margin-bottom: 20px;
  text-align: center;
}

.heading_divider {
  position: relative;
  background: url(../images/icons/heading_divider_icon.svg) no-repeat;
  width: 15px;
  height: 13px;
}

.heading_divider::before,
.heading_divider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 234px;
  height: 2px;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #d2d7dd),
    color-stop(20%, rgba(255, 255, 255, 0))
  );

  background-image: -o-linear-gradient(
    left,
    #d2d7dd 30%,
    rgba(255, 255, 255, 0) 20%
  );

  background-image: linear-gradient(
    to right,
    #d2d7dd 30%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: top;
  background-size: 6.38px 2px;
  background-repeat: repeat-x;
}

.heading_divider::before {
  left: 0;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
}

.heading_divider::after {
  right: 0;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
}
