.lightbox {
  display: block;
  position: relative;
}

.lightbox_link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  background-color: rgba(61, 201, 180, 0.7);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.lightbox_link * {
  color: var(--white_color);
}

.lightbox:hover .lightbox_link {
  opacity: 1;
}

.lightbox_link i {
  font-size: 30px;
  margin-bottom: 17px;
}
