@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamRounded-Book.otf") format("opentype");
}

@font-face {
  font-family: "GothamRounded";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/GothamRounded-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothamRounded-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GothamRounded";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/GothamRounded-MediumItalic.otf") format("opentype");
}

p {
  color: var(--text_color);
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.25px;
}

p > .highlight {
  color: var(--heading_color);
  font-size: inherit;
}

h1,
.h1 {
  font-size: 25px;
}

h6,
.h6 {
  font-size: 15px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}

.display_1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.display_2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}
