/* Position modifiers */
.position_absolute {
  position: absolute;
}

.position_absolute.top {
  top: 0;
}

.position_absolute.bottom {
  bottom: 0;
}

.position_absolute.left {
  left: 0;
}

.position_absolute.right {
  right: 0;
}

.position_absolute.centered {
  left: 0;
  right: 0;
  margin: auto;
}

/* Text modifiers */
.text_left {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
}

.text_center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.text_right {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
}

.text_justify {
  text-align: justify;
}

.text_white {
  color: var(--white_color);
}

.text_primary {
  color: var(--accent_color);
}

.text_dark {
  color: var(--dark_color);
}

/* Background modifiers */
.bg_grey {
  background-color: var(--light_grey_color);
}

.bg_dark {
  background-color: var(--dark_color);
}

.bg_white {
  background-color: var(--white_color);
}
