@import "./_reset.css";

/* Plugins */
@import "../vendors/bootstrap-4.5.2-dist/css/bootstrap-grid.min.css";
@import "../vendors/fontawesome-free-5.14.0-web/css/all.min.css";
@import "../vendors/slick/slick-theme.css";
@import "../vendors/slick/slick.css";
@import "../vendors/Magnific-Popup-master/dist/magnific-popup.css";
@import "../vendors/hamburgers-master/dist/hamburgers.min.css";

/* Modules */
@import "./_typography.css";

* {
  font-size: 16px;
  font-family: "GothamRounded";
}

b {
  font-size: inherit;
  font-weight: 500;
}

i {
  font-size: inherit;
  font-style: italic;
}

p {
  color: #8c9398;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.95;
  letter-spacing: 0.14px;
}

p > .highlight {
  color: #353535;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_white {
  color: #ffffff;
}

.text_big_1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.text_big_2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.scroll_down {
  margin-top: 30px;
  background-color: #3dc9b3;
  width: 44px;
  height: 44px;
  margin: auto;
  border-radius: 50%;
  display: block;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  position: relative;
  padding: 90px 0;
}

.section.grey {
  background-color: #f3f5f8;
}

.section_bg,
.section_bg img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section_bg img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgba(33, 32, 36, 0.8);
}

.section_bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 32, 36, 0.8);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.heading_title {
  color: #353535;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  margin-bottom: 20px;
  text-align: center;
}

.heading_divider {
  position: relative;
  background: url(../images/icons/heading_divider_icon.svg) no-repeat;
  width: 15px;
  height: 13px;
}

.heading_divider::before,
.heading_divider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 234px;
  height: 2px;

  background-image: linear-gradient(
    to right,
    #d2d7dd 30%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: top;
  background-size: 6.38px 2px;
  background-repeat: repeat-x;
}

.heading_divider::before {
  left: 0;
  transform: translateX(-110%);
}

.heading_divider::after {
  right: 0;
  transform: translateX(110%);
}

/* Banner */
.banner {
  position: relative;
}

.banner_wrapper {
}

.banner_wrapper .item {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.banner_wrapper .item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner_wrapper .item .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_title {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #a1a9b0;
  line-height: 2.3;
  word-wrap: break-word;
}

.banner_title span {
  font-size: inherit;
  font-family: inherit;
  color: #353535;
}

.banner_description {
  color: #8c9398;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2.25px;
  margin-bottom: 60px;
  text-align: center;
}

.banner_description span {
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2.25px;
}

/* Navbar */
.navbar {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  z-index: 9;
}

.navbar .hamburger {
  display: block;
  margin-left: auto;
  position: relative;
  z-index: 100;
}

.navbar_menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 400px;
  background-color: #3dc9b3;
  z-index: 99;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s linear;
}

.navbar_menu.active {
  transform: translateX(0);
}

.navbar_menu > .item {
  position: relative;
  padding: 1.5rem 1rem;
}

.navbar_menu > .item a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  width: 100%;
}

.navbar_menu > .item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 33px;
  border-bottom: 3px solid #ffffff;
  transition: all 0.3s linear;
}

.navbar_menu > .item:hover::after {
  transform: translateY(-1rem);
  width: 100%;
}

/* Buttons */
.button {
  position: relative;
  border: 0;
  outline: 0;
  z-index: 1;
}

.button.primary {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  padding: 22px 36px;
  border-radius: 6px;
}

.button.primary:before,
.button.primary:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
}

.button.primary::before {
  background-color: #309383;
  transform: translateY(3px);
  transition: transform 0.2s linear;
}

.button.primary::after {
  background-color: #3dc9b3;
}

.button.primary:hover::before {
  transform: translateY(5px) translateX(3px);
}

.button:focus {
  box-shadow: 0 0 0 3px #44e4cc;
}

/* Cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_img {
  margin-bottom: 40px;
}

.card_img img {
}

.card_title {
  color: #353535;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding: 35px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.5;
}

.card_title::after {
  content: " //";
}

.card_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-140%);
  border: 2px solid #3dc9b3;
  width: 33px;
}

/* Slick Slider */
.slick_slider .slick-dots {
  bottom: -120px;
}

.slick_slider .slick-dots button[role="tab"] {
  width: 13px;
  height: 13px;
}

.slick_slider .slick-dots button[role="tab"]::before {
  content: "";
  /* Style for "Shape 7" */
  width: inherit;
  height: inherit;
  border: 2px solid #c9cbca;
  background-color: #ffffff;
  border-radius: 13px;
  opacity: 1;
}

.slick_slider .slick-dots .slick-active button[role="tab"]::before {
  background-color: #212024;
}
