/* Plugins */
@import "../vendors/bootstrap-4.5.2-dist/css/bootstrap-grid.min.css";
@import "../vendors/fontawesome/css/all.min.css";
@import "../vendors/slick/slick-theme.css";
@import "../vendors/slick/slick.css";
@import "../vendors/Magnific-Popup-master/dist/magnific-popup.css";
@import "../vendors/sweetAlert2/dist/sweetalert2.min.css";

/* Modules */
@import "./_variables.css";
@import "./_default.css";
@import "./_typography.css";
@import "./_heading.css";
@import "./_header.css";
@import "./_navbar.css";
@import "./_tap.css";
@import "./_card.css";
@import "./_slick_slider.css";
@import "./_lightbox.css";
@import "./_form.css";
@import "./_utilities.css";

/* Responsive */
@media only screen and (max-width: 990px) {
  .navbar_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .input_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input_group > *:first-child {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .display_1 {
    font-size: 30px;
  }

  .display_2 {
    font-size: 20px;
  }
}
